body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    color: #333;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #007bff;
  }
  
  button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  