.main-container {
  display: flex;
  height: 100%;
  /* Учитываем высоту заголовка */
  width: 100%;
}

.table-container {
  flex: 0 1 200px;
  /* Начальная ширина 200px */
  min-width: 150px;
  /* Минимальная ширина 150px */
  max-width: 200px;
  /* Максимальная ширина 200px */
  height: calc(100% - 40px);
  /* Высота за вычетом отступов */
  overflow-y: auto;
  margin: 20px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  box-shadow: 0 2px 4px var(--shadow-color);
  background-color: var(--primary-color);
}

.ant-table-cell,
.ant-table-thead>tr>th {
  text-align: center !important;
  /* Центрирование значений и заголовков в ячейках */
}

.map-canvas {
  flex: 1;
  border: 1px solid var(--border-color);
  box-shadow: 0 2px 4px var(--shadow-color);
  background-color: var(--primary-color);
  position: relative;
  overflow: hidden;
  /* Добавим overflow, чтобы дочерние элементы не выходили за края */
}

.map-container {
  position: absolute;
  z-index: 1000;
  background: var(--secondary-color);
  box-shadow: 0 2px 8px var(--shadow-color);
}

.select-container {
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 10px;
}

.leaflet-container {
  height: 100%;
  width: 100%;
  background: var(--primary-color);
  border-radius: 10px;
  /* Скругленные края для карты */
  /* transform: rotate(2.7deg);  */
  transform-origin: center center;
}

.marker-legend {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: rgba(255, 255, 255, 0.5);
  /* Полупрозрачный фон */
  padding: 10px;
  border-radius: 8px;
  /* Скругленные края для легенды */
  box-shadow: 0 2px 4px var(--shadow-color);
}

.legend-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.legend-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.legend-text {
  font-size: 14px;
}

.dark-mode {
  filter: invert(1) hue-rotate(180deg);
}